
@{
    ViewBag.Title = "Index";
}

<h2>ModelDetail</h2>
@using (Html.BeginForm("Index", "ModelDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        查询Model：
        VersionID: @Html.TextBox("versionID")
        <input type="submit" value="查询" />
    </p>
}
<pre class="brush:c-sharp;"><iframe style="width:100%;height:800px" src="@ViewBag.modelurl" /></pre>

<br>
